<nav class="navbar is-dark">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="home" routerLinkActive="tab-bg-black" class="navbar-item">
        Home
      </a>
      <a routerLink="historic" routerLinkActive="tab-bg-black" class="navbar-item">
        Historic
      </a>
    </div>
  </div>
</nav>