<div class="section">
  <article *ngIf="alertMessage" class="message is-danger animated fadeIn">
    <div class="message-header">
      <p>Error {{ errorCode }}</p>
      <button class="delete" (click)="closeError()"></button>
    </div>
    <div class="message-body">
      {{ alertMessage }}
    </div>
  </article>
  
  <app-loading *ngIf="!alertMessage && !citiesList"></app-loading>
</div>

<div *ngIf="citiesList" class="section">
  <div class="columns is-multiline is-centered animated fadeIn">
    <div class="column is-4">
      <div class="control" [ngClass]="{ 'is-loading': searchTerm.value !== '' }">
        <input
          #searchTerm
          class="input"
          type="text"
          (keyup)="filterByName(searchTerm.value)"
          placeholder="Filter by city..."/>
      </div>
    </div>
    <div class="column is-3 center">
      <div class="field">
        <div class="control has-icons-left">
          <div class="select">
            <select name="units" [(ngModel)]="units">
              <option *ngFor="let measure of measurements" [ngValue]="measure.id">{{ measure.name }}</option>
            </select>
          </div>
          <div class="icon is-small is-left">
            <i class="fas fa-thermometer-half"></i>
          </div>
        </div>
      </div>
    </div>

    <div *ngFor="let city of filteredCities" class="column is-7 center animated fadeIn">
      <div class="citybox">
        <h1>{{ city.name | uppercase }} ({{ city.sys.country }})</h1>
        <div class="columns">
          <div class="column is-2 left">
            <span [ngSwitch]="units">
              <p *ngSwitchCase="2">
                {{ city.main.temp | tempconv:'f' | number: "2.0-1" }} ºF
              </p>
              <p *ngSwitchCase="3">
                {{ city.main.temp | tempconv:'k' | number: "3.0-1" }} K
              </p>
              <p *ngSwitchDefault>{{ city.main.temp | tempconv | number: "2.0-1" }} ºC</p>
            </span>
          </div>
          <div class="column is-2 center">
            <img src="{{ imagePath + city.weather[0].icon + '.png' }}" alt="" width="60"/>
          </div>
          <div class="column is-4 center">
            {{ city.weather[0].description | titlecase }}
          </div>
          <div class="column is-4 right">{{ city.dt * 1000 | date:'d-MMM-yyyy H:mm' }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
