<div class="section animated fadeIn">
  <div class="columns is-centered">
    <div class="column">
      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>City</th>
            <th>Historic Records</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let city of historicData; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ city.id }}</td>
            <td>{{ city.name }}</td>
            <td>{{ city.historic }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
