/* You can add global styles to this file, and also import other style files */
html {
    background-image: url('/assets/img/weatherbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}